# Excluir dependências de desenvolvimento e ferramentas
/node_modules
/tests/
/vendor

# Excluir arquivos de versionamento e IDEs
/.git
/.gitignore
/.vscode/
/.idea/

# Excluir cache local
/tmp/
/logs/

# Excluir arquivos do Composer que não são necessários após o install
/composer.phar
vendor/
vendor/**
