service: sul-previdencia-adesao

image: repokonverter/sul-previdencia-adesao

servers:
  web:
    hosts:
      - 162.240.166.197

proxy:
  ssl: true
  host: plenoprev.konverter.com.br
  app_port: 80

registry:
  server: ghcr.io
  username: repokonverter
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    DB_HOST: sul-previdencia-adesao-db
    DEBUG: true
  secret:
    - SECURITY_SALT
    - DB_USER
    - DB_PASSWORD
    - DB_NAME

builder:
  remote: "ssh://deploy@162.240.166.197:22022"
  arch: amd64

ssh:
  user: deploy
  port: 22022

accessories:
  db:
    image: postgres:16
    host: 162.240.166.197
    port: 5433
    env:
      secret:
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    volumes:
      - adesao-sulprev-db-data:/var/lib/postgresql/data
